{% extends 'base.html.twig' %}

{% block title evenement.TitreEvnmt %}

{% block body %}
<div class="jumbotron">
    <div class="container">

                {% for message in app.flashes('success') %}

                {# ...afficher le dit message: #}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        Vos données de contact ne correspondent malheureusement pas aux valeurs attendues!
                    </div>
                {% endif %}

            <div class="row">
                <div class="col-md-8">

                    {% if evenement.filename %}
                        <img src="{{ vich_uploader_asset(evenement, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                    {% else %}
                        <img src="{{ '/images/evenements/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                    {% endif %}
                </div>

                <div class="col-md-4">

                    <h1><strong><u>{{ evenement.TitreEvnmt }}</u></strong></h1>
                    <h3>le {{ evenement.DateEvnmt|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</h3>
                    <br>

                    {% if evenement.HeureEvnmt %}   {# On affiche uniquement l'horaire s'il est présent en base de donnée #}
                    <h2>à partir de {{ evenement.HeureEvnmt ? evenement.HeureEvnmt|date('H') }}h{{ evenement.HeureEvnmt ? evenement.HeureEvnmt|date('i') }}</h2>
                    <br>
                    {% endif %}
                    
                    <a href="#" class="btn btn-primary" id="contactButton"{% if form.vars.submitted %} style="display: none;"{% endif %}>Nous contacter</a>
                        <div id="contactForm" class="mt-4"{% if not form.vars.submitted %} style="display: none;"{% endif %}>
                            {{ form_start(form) }}

                                <div class="row">
                                    <div class="col">{{ form_row(form.firstname) }}</div>
                                    <div class="col">{{ form_row(form.lastname) }}</div>
                                </div>

                                <div class="row">
                                    <div class="col">{{ form_row(form.phone) }}</div>
                                    <div class="col">{{ form_row(form.email) }}</div>
                                </div>
                            
                            {{ form_rest(form) }}
                                <div class="form-group">
                                    <button class="btn btn-primary">Envoyer</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                </div>

            </div>
    </div>
</div>
<div class="container mt-4">
    

    <p>{{ evenement.TxtEvnmt }}</p>
</div>
{% endblock %}