<div class="card mb-4 mt-2">

        {% if evenement.picture %}
            <img src="{{ vich_uploader_asset(evenement.picture, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% else %}
            <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% endif %}

    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('show', {slug: evenement.slug, id: evenement.id}) }}">
                {{ evenement.TitreEvnmt }}
            </a>
        </h5>
        <p class="card-text">{{ evenement.TxtEvnmt }}</p>
    </div>
</div>