{{ form_start(form)}}
    {{ form_widget(form)}}  {# A 11m44s dans la video (https://www.youtube.com/watch?v=6Ryu7-VSV5k) 
                               (tuto symfony 4 4/16) pour mettre plusieurs champs sur la même ligne#}
    <button class="btn btn-primary">{{button | default('Enregistrer') }}</button>
    {{ form_row(form.imageFile) }}
{{ form_end(form)}}
